.app {
  height: 100vh;
  background: olivedrab;
}
.inputWrapper {
  margin: 10px;
}
.inputField {
  width: 200px;
  height: 30px;
}
.button {
  width: 200px;
  height: 30px;
}

.buttonLink {
  border: 0;
  cursor: pointer;
  background: transparent;
  color: blue;
  margin: 20px;
}
.inputError {
  color: red;
  position: absolute;
  padding: 8px;
  font-size: 14px;
}
.header {
  display: flex;
  padding: 4px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f2b9b9;
}
.list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  list-style-type: none;
}
.header ul li button {
  background-color: transparent;
  border: none;
  color: rgb(219, 247, 95);
  font-size: medium;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.footer {
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  background: rgb(249, 169, 169);
}
